li {
    list-style: none;
}

.container {
    padding: 10px;
}

.mui-row {
    background-color: rgba(0, 0, 0, .1);
    font-size       : 14px;
    padding         : 7px 0;
    border-radius   : 6px;
    text-align      : center;
}

.icon-unfold {
    font-size   : 12px;
    padding-left: 5px;
}

.lt-container {
    position    : absolute;
    top         : 44px;
    bottom      : 50px;
    touch-action: none;
}

#refreshContainer {
    touch-action: none;
    position    : absolute;
    top         : 44px;
    bottom      : 50px;
}