.container {
    padding: 10px;
}

.mui-btn {
    position     : absolute;
    top          : 54px;
    right        : 10px;
    height       : 34px;
    border-radius: 6px;
    background-color: #369;
    border: 0;
}

.mui-input-row {
    margin-right: 62px;
}

.title {
    font-size     : 14px;
    color         : #8f8f94;
    padding-bottom: 10px;
}